.exhibition-slider {
    overflow: hidden;
    height: 35rem;
    
    font-variant-caps: all-petite-caps;
    transition: var(--transition-fast);
    grid-auto-flow: column;
}

.headline {
    position: absolute;
    padding: 1rem 2rem;
    z-index: 300;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0.4rem;
    font-size: 1.5rem;
}
.slides {
    grid-column-start: 0;
    grid-column-end: 3;
}
.navigation{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
}
.left {
    text-align: left;
    margin: 1rem 3rem;
}
.right {
    text-align: right;
    margin: 1rem 2rem;
}
.left:hover{
    cursor: pointer;
    font-weight: bold;
}
.right:hover{
    cursor: pointer;
    font-weight: bold;
}


@media (min-width: 420px) {
    .exhibition-slider{
        height: 45rem;
        margin: 3rem;
    }
    .left, .right{
        margin: 1rem;
    }
}