.exhibition {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
    transition: var(--transition-fast);
}
.exhibition.hide {
    display: none;
    transition: var(--transition-fast);
}

.exhibition img {
    height: 200%;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    transition: var(--transition-fast);
}

.description {
    text-align: left;
    align-items: baseline;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    height: max-content;
    padding: 0 1rem 1rem 1rem;
    z-index: 300;
}

.description p {
    text-align: right;
    margin: 0;
}

.description h1 {
    text-align: left;
}
@media (min-width: 700px) {
    .exhibition {
        filter: grayscale();
        grid-template-columns: 60% 40%;
        grid-template-rows: none;
    }
    .exhibition img{
        height: 100%;
        width: 200%;
    }
    .description {
        grid-row-start: 1;
        grid-row-end: 1;
        margin: 1rem;
    }

    .exhibition img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-end: 1;
    }
    .exhibition:hover {
        filter: none;
        transition: var(--transition-fast);
        cursor: pointer;
    }
    .exhibition:hover > img {
        height: 120%;

        transition: var(--transition-fast);
    }
}
/* SLIDE ANIMATION */
/* TODO */
