.exhibition{
    display: grid;
    grid-template-columns: 60% 40%;
    filter: grayscale();
    height: 100%;
    transition: var(--transition-fast);
}
.exhibition.hide{
    display: none;
}

.exhibition img{
    height: 100%;
    width: 200%;
    grid-column-start: 1;
    grid-column-end: 2;
    object-fit: cover;
    transition: var(--transition-fast);
}

.exhibition:hover{
    filter:none;
    transition: var(--transition-fast);
    cursor: pointer;
}
.exhibition:hover >  img{
    height: 120%;
    
    transition: var(--transition-fast);
}


.description{
    text-align: left;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 1rem;
    height: max-content;
    padding: 0 2rem 3rem 2rem;
}

.description p{
    text-align: right;
    margin: 0;   
}

.description h1{
    text-align: left;
}