body{
    background-color: var(--background);
}

.header-stripe {
    position: sticky;
    width: 100%;
    height: 3rem;
    padding-top: .5rem;
    transition: var(--transition-fast);
}
.header-stripe-active {
    height: 2.6rem;
    padding-top: .5rem;
    width: 100%;
    background-color: var(--menu-items-color);
    transition: var(--transition-fast);
}

.header {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 5%;
    color: var(--menu-items-color);
}

.header img {
    height: 2rem;
    object-fit: fill;
    filter: invert(33%);
    transition: var(--transition-fastest);
}

.header img:hover {
    height: 2.2rem;
    filter: invert(50%);
    transition: var(--transition-fastest);
    
}

.languages {
    display: grid;
    grid-template-columns: 50% 50%;
}
.language:hover {
    cursor: pointer;
    color: var(--color-highlight-mild);
    font-weight: bold;
}
.selected-language {
    font-weight: bold;
}

@media (min-width: 420px){
    .header {
        margin: 0 25%;
    }
}
