/*                  SUMMARY */
.summary {
    text-align: center;
    display: flex;
}
.summary h2 {
    color: white;
    margin: 2rem;
}

/*                  SUMMARY ITEM*/
.summary-item {
    margin: none;
    padding: 0.5rem 2rem;
    border: 1px solid rgb(61, 61, 61);
    position: static;
    border-radius: 5%;
    transition: all .3s linear;
}
.summary-item img {
    max-width: 5rem;
}
.summary-item p {
    max-width: 5rem;
}
.summary-item:hover {
    cursor: pointer;
    border-color: rgb(255, 217, 0);
    color: rgb(255, 217, 0);
    transition: all .2s ease;
}

/*                  DESCRIPTION */

.img-description {
    max-width: 5rem;
    margin: 2.5rem;
    border-radius: 10%;
}

/*                  CLOSE BUTTON */
.close {
    background-color: rgb(99, 99, 99);
    color: white;
    border-radius: 5px;
    margin-left: 1%;
    min-height: 2rem;
}
.close:hover {
    background-color: rgb(255, 217, 0);
    color: black;
    cursor: pointer;
}
