.menu {
    position: absolute;
    top: 3rem;
    width: 100%;
    height: calc(100% - 3rem);
    background-color: var(--background-semi-transparent);
    text-align: center;
}

.menu-items {
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    background-color: var(--background);
    margin: .3rem;
    width: 70%;
    padding: 2rem 0;
    display: grid;
    grid-template-rows: 5rem 5rem 5rem ;
    box-shadow: var(--box-shadow-card);
}

.menu-items a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.4rem;
}

.menu-items a.active{
    color: var(--color-highlight);
    text-decoration: none;
    font-size: 1.5rem;
}

.menu-items a:hover {
    font-size: 1.5rem;
    color: var(--font-color-darker);
    transition: var(--transition-fastest);
    transform: translateY(-.05rem);
}

@media (min-width: 420px) {
    .menu-items {
        position: fixed;
        top: 0;
        margin: .3rem 35%;
        width: 30%;
    }
}