.profile{
    height: 20rem;
    width: auto;
    text-align: left;
    margin: 2rem;
}

.profile-img{
    height: 20rem;
    width: auto;
    border: 1px solid white;
    border-radius: 50%;
    transition: all .5s ease;
}

.profile-img:hover{
    height: 30rem;
    border: none;
    transition: all .6s ease;
}

.wink{
    position: fixed;
    left: 20rem;
    top: 10rem;
    transform: rotate(-30deg);
}
.name{
    position: relative;
}

.name b{
    font-size: 2rem;
}