
.profile {
    text-align: center;
    display: contents;
}
.image-wrapper {
    width: 80%;
    height: 8rem;
    margin: 0.5rem 10%;
    overflow: hidden;
}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    display: none;
}

.name {
    font-size: 2rem;
    margin: 0.8rem 1rem;
    padding: 1rem 0;
}

@media (min-width: 420px) {
    .intro {
        display: grid;
        margin: 2rem 20%;
        grid-template-columns: 49% 2% 49%;
    }

    .image-wrapper {
        height: 15rem;
    }

    .headline {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--background);
        padding: 0.5rem;
        text-align: center;
        color: var(--color-highlight-mild);
    }

    .separator {
        height: auto;
        width: 3px;
        background-color: var(--font-color);
    }
    .description {
        text-align: right;
        margin-right: 1rem;
    }

    .name {
        font-size: 2rem;
        text-align: left;
        background-color: initial;
        padding: 0;
    }
}
