.clickable-icon{
    width: 2rem;
    height: auto;
    padding: .3rem;
}

.clickable-icon:hover{
    /* border: 2px solid white; */
    border-radius: 20%; 
    background-color: var(--yellow-highlight);
}

.card{
    text-align: center;
    display:flex;
}
.white-stripe{
    background-color: white;
    height: .5rem;
    width: 100%;
}