.leftright {
    display: grid;
    position: static;
    grid-template-rows: 50% 50%;
    height: 60rem;
    align-items: center;
    background: linear-gradient(180deg, black 40%, rgba(119, 0, 255, 0.2) 100%);
}


.leftright h1 {
    font-size: 5rem;
}

.leftright img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 769px) {
    .leftright {
        grid-template-columns: 50% 50%;
        grid-template-rows: none;
        background: linear-gradient(0, black 0%, rgba(119, 0, 255, 0.2) 100%);
    }
}
